@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Oswald&family=Poppins&display=swap");
* {
  background-color: #fffdd0;
}
.center {
  text-align: center;
}
.top-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}
.hr1 {
  border-top: 7px dotted black;
}

